

.auth-card {
  margin-top: 150px;
  width: 450px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  padding: 36px 28px;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.auth-card h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 22px;
}

.input {
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 12px 14px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.input span {
  cursor: pointer;
}

.auth-card p {
  margin-top: 16px;
  font-size: 14px;
}

.auth-card p span {
  color: #16a34a;
  cursor: pointer;
  font-weight: 600;
}
